@import "tailwindcss";

@layer base {
    * {
        -webkit-tap-highlight-color: transparent;
    }
}

.safe-top {
    padding-top: max(env(safe-area-inset-top), 16px);
}

.safe-bottom {
    padding-bottom: max(env(safe-area-inset-bottom), 16px);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}